#principal-contato {
    display: grid;
    grid-template-rows: 25% 75%;
    height: 110vh;
    background-color: $main-color;
}

.anunciar {
    background-color: $main-color;
    font-family: $font-textos;
    height: fit-content;
    width: 75%;
    padding: 50px 0;
    grid-row: 1/1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.forms {
    background-color: $support-color1;
    font-family: $font-textos;
    grid-row: 2/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.titulo-contato {
    font-size: 1.5em;
    font-weight: bold;
}

.texto-contato {
    font-size: 1em;
}

.container-form {
    width: 75%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 20% 20% 50% 10%;
}

.container-input {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
}

.container-msg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: $support-color2;
    justify-self: center;
    width: 208px;
    height: 40px;
    border-radius: 12px;
    border: 0px;
    transition: 1000ms;

    &:hover {
        transform: scale(1.2);
    }
}

.input-padrao {
    width: 322px;
    height: 38px;
    border-radius: 12px;
    border-style: none;
    text-align: center;
}

.input-msg {
    width: 480px;
    height: 243px;
}
