// Mixin
@import "../helpers/mixins.scss";

#principal-footer {
    background-color: $header-color;
    height: 13vh;
    width: 100%;
    margin-bottom: 0px;
}

.container-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-logos {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invisivel {
    font-family: $font-textos;
    color: $text-color;
    font-size: 0.6em;
}

#copyright {
    font-family: $font-textos;
    color: $text-color;
    font-weight: bold;
    align-self: flex-end;
    margin: 0;
    padding-right: 2vw;
}

.contatos-img {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.logos-contatos {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;
    transition: 350ms;

    &:hover {
        transform: scale(1.15);
    }
}
