// Mixin
@import "../helpers/mixins.scss";

#principal-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 5%;
}

#titulo-principal {
    font-family: "Playfair Display", serif;
}

#principal-header .container-links {
    display: flex;
}

.lista-header {
    padding-left: 0;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lista-header li{
    list-style-type: none;
}

.links {
    @include transforma-texto(#eb423f, 500ms);
    text-decoration: none;
}
