// Mixin
@import "../helpers/mixins.scss";

#principal {
    display: flex;
    text-align: justify;
}

.texto {
    // Mixin podendo receber parâmetros, consultar na pasta ../helpers/mixins
    @include transforma-texto(#eb423f, 1000ms);
    margin: 40px 20px;
    &:hover{
        transform: scale(1.02);
        font-weight: bolder;
    }
}

.container-links li {
    list-style-type: none;
}

.invisivel {
    font-size: 12px;
    font-weight: bold;
}
