// Mixin
@import "../helpers/mixins.scss";

img {
	max-width: 100%;
}

abbr {
	text-decoration: none;
	border: none;
}

.intro {
	background-color: $main-color;
}

#principal {
	display: flex;
	flex-direction: column;
	text-align: justify;
}

.container-texto {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.5em 1.7em;
}

.container-texto .subtitulo {
	padding-bottom: 1.2em;
	align-self: center;
}

.subtitulo {
	font-family: $font-textos;
	font-size: 1.6em;
	margin-bottom: 0;
	color: $text-color;
}

.texto {
	// Mixin podendo receber parâmetros, consultar na pasta ../helpers/mixins
	text-align: justify;
	font-family: $font-textos;
	line-height: 1.4em;
	text-indent: 1.2em;
	margin: 0;
}

.container-links li {
	list-style-type: none;
}

// Parte dos projetos
.projetos {
	background-color: $support-color1;
	color: $main-color;
	padding: 1.2em 0;
}

.projetos .subtitulo {
	color: $main-color;
	text-align: center;
}

.container-projetos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 1.2em 1.5em;
}

.container-textos {
	grid-column: 2/2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1.1em 1.1em;
	margin-right: 1.5em;
}

.container-imgs {
	grid-column: 1/1;
	grid-row: 1/1;
	display: flex;
	justify-content: flex-end;
	padding: 1.1em 1.1em;
}

.container-video {
	grid-column: 1 / 1;
	grid-row: 2 / 2;
	display: flex;
	justify-content: flex-end;
	padding: 1.1em 1.1em;
}

.titulo-projeto {
	text-align: justify;
	font-family: $font-textos;
	color: $font-textos;
	font-size: 1.3em;
	margin: 0;
	align-self: center;
}

.video {
	padding-top: 1.5em;
	width: 400px;
	height: 441px;
	max-width: 100%;
}

.texto-video {
	grid-row: 2 / 2;
	grid-column: 2 / 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1.1em 1.1em;
	margin-right: 1.5em;
}
