// Variables goes here

// Colors
$header-color: #7b8cde;
$main-color: #f1f7ed;
$text-color: #1c1b18;
$support-color1: #af9b46;
$support-color2: #ad8350;

// Fonts
$font-titulo: "Playfair Display", serif;
$font-textos: "Quicksand", sans-serif;
